
.container{
	width: 86%;
	padding: 0px;
	margin: 0px auto;
}

.ct-header{
	width: 100%;
	border: 1px solid gray;
    box-shadow: 2px 2px 2px gray;
    border-top: none;
}

.hd-img{
	width: 100%;
	height: 200px;
	background: url('header_img.jpg');
	background-size: 100%;
	background-position: 50% 50%;
}

.hd-avatar { 
	width: 100%;
	text-align: center;

}

.img-avatar{
	margin-top: -50px;
	border-radius: 50%;
}

.hd-content {
	height: auto;
	width: 100%;
	text-align: center;
	display: grid;
}



.hd-content_line1{
	font-size: 30px;
	font-weight: bold;
	padding: 5px;
}

.hd-content_line2{
	font-size: 20px;
	font-weight: bold;
	padding: 5px;
}

.hd-content_line3{
	font-size: 15px;
	font-weight: bold;
	color: gray;
	border-bottom: 1px solid gray;
	padding: 5px;
}

.hd-content_line4{
	display: flex;
    align-items: center;
    justify-content: center;
}

.ct-body{
	margin-top: 10px;
	width: 100%;
	/*height: auto;*/
	border: 1px solid gray;
    box-shadow: 2px 2px 2px gray;
    border-top: none;
}

.ct-body_exp{
	padding: 10px 20px 10px 20px;
	font-size: 20px;
	/*height: auto;*/
	font-weight: bold;
}

.ct-body_ct{
	width: 100%;
	height: 400px;
}

.ct-body_left{
	width: 15%;
	/*height: auto;*/
	float: left;
	text-align: right;
}

.ct-body_right{
	width: 85%;
	/*height: auto;*/
	float: left;
}

.ct-body_left-icon{
	width: 80%;
	height:100px;
	padding-right: 10px;
}

.ct-body_right--line1{
	font-size: 30px;
	font-weight: bold;

}
.ct-body_right--line2{
	font-size: 20px;
	font-weight: bold;
}

.ct-body_right--line3{
	font-size: 15px;
	font-weight: bold;
	padding-bottom: 10px;
	color: gray;
}

.ct-body_right--line4{
	font-size: 20px;
	font-weight: bold;
	font-style: italic;
	
}
.ct-body_right--line5{
	font-size: 20px;
	font-weight: bold;
	padding: 5px;
	
}

.col-left { 
	width: 50%;
	float: left;
	text-align: center;
}
.col-right { 
	width: 50%;
	float: left;
	text-align: center;
}

.col-left-img{
	width: 95%;
	height: 150px;
}

.ct-rate-skill{
	margin-top: 10px;
	width: 100%;
	height: 350px;
	border: 1px solid gray;
    box-shadow: 2px 2px 2px gray;
    border-top: none;
}
.ct-rate-skill-left{
	width: 50%;
	float: left;
}

.ct-rate-skill-right{
	width: 50%;
	float: left;
	height: 100%;
	/*background-color: blue;*/
}

.rate-kill-ct1{
    position: relative;
}

.ct-rate-content{
	padding: 10px 30px 0px 30px;
}

.ct-rate-content2{
	padding: 75px 30px 0px 30px;
}

.ct-rate-content3{
	padding: 100px 30px 0px 30px;
}


.rate-kill-ct1--1 {
	width: 80%;
	height: 50px;
	border-radius: 50px;
	border: 1px solid gray;
	position: absolute;
}

.rate-kill-ct1--2{
	width: 60%;
	height: 50px;
	background-color: gray;
	border: 1px solid gray;
	border-radius: 50px;
	position: absolute;
}

.rate-kill-ct2--1 {
	width: 80%;
	height: 50px;
	border-radius: 50px;
	border: 1px solid gray;
	position: absolute;
}

.rate-kill-ct2--2{
	width: 40%;
	height: 50px;
	background-color: gray;
	border: 1px solid gray;
	border-radius: 50px;
	position: absolute;
}

.rate-kill-ct3--1 {
	width: 80%;
	height: 50px;
	border-radius: 50px;
	border: 1px solid gray;
	position: absolute;
}

.rate-kill-ct3--2{
	width: 50%;
	height: 50px;
	background-color: gray;
	border: 1px solid gray;
	border-radius: 50px;
	position: absolute;
}

@media screen and (max-width: 800px){
	.ct-body_left{
		width: 100%;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	}
}